<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href='/stylesheets/style11.css'>
  <title>Prove 11</title>
</head>
<body>
  <span class='float-left'>
    <form action='/db11' method='POST'>
      <input type="hidden" value='1' id='user' name='user'>
      <button type='submit' class='rounded'>Login/Signup</button>
    </form>
  </span>

    <div class="row h-100">
      <div class="col-sm-12 my-auto jumbotron">
          <h1 id='blobber'>Blobber</h1>
      </div>
    </div>





</body>
</html>
